/* CSS declarations go here */

.main
{
	text-align: center;
}

.full-tree
{
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

header
{
	background-color: #428bca;
	color: #FFF;
	height: 75px;
}

.title
{
	float: left;
	height: 100%;
	padding-left: 10px;
}

.login
{
	float: right;
	text-align: right;
	padding: 10px;
	width: 200px;
	height: 100%;
	position: relative;
}

#login-buttons
{
	position: absolute;
	bottom: 20px;
	right: 15px;
	display: block;
	text-align: right;
	width: 100%;
}

.login-link-text
{
	color: #FFF;
}

.tree
{
	clear: both;
	text-align: center;
	margin-top: 30px;
}

.add-member-form
{
	display: none;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid lightgray;
	padding: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.inner-form
{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.form-field
{
	width: 400px;
	clear: both;
}

.form-field label
{
	width: 150px;
	float: left;
	margin-right: 10px;
	height: 30px;
}

form button
{
	clear: both;
	margin-top: 20px;
}