<template name="home">
  <section class="tree">
  		{{#if showAlertDialog}}
	  		<div class="alert-spacer">
	  			{{> alert}}
	  		</div>
  		{{/if}}
  		{{#if currentUser}}
  			<div class="tree-main">
  				{{#each members}}
			      	{{> member}}
			    {{else}}
			    	<button class="btn btn-primary add add-yourself">Add yourself!</button>
			    {{/each}}
  			</div>
  			<canvas id="tree-canvas" class="tree-canvas" width="960" height="500">
			</canvas>
	    {{/if}}
	</section>
	{{#if showAddEditDialog}}
		{{> addEditDialog}}
	{{/if}}
</template>

<template name="member">
	<div id="{{_id}}" class="family-member">
		<div class="member-photo-area">
			<img class="member-photo" src="{{photo_url}}" />
			<div class="member-name">
				{{first_name}} {{middle_name}} {{last_name}}
			</div>
		</div>
		<div class="member-info-area">
			<div class="member-info-line">
				<span class="member-info-label">b</span>
				<span>{{date_of_birth_string}}</span>
			</div>
			{{#if hasMarriage}}
				<div class="member-info-line">
					<span class="member-info-label">m</span>
					<span>{{date_of_marriage_string}}</span>
				</div>
			{{/if}}
			<div class="member-info-area-buttons">
				<button class="edit" />
				<button class="add" />
			</div>
		</div>
	</div>
</template>

<template name="addEditDialog">
	<section class="add-member-form round-rect-5">
		<form>
			<fieldset>
		    	<legend>Add a family member</legend>
		    	<div class="inner-form">
		    		<div class="form-field" id="user_photo_container">
		    			<label for="photo-upload">Photo</label>
		    				<div class="user-photo-container">
			    				<img class="user_photo" src="{{member.photo_url}}" />
			    				<div class="user-photo-edit">
			    					Edit
			    				</div>
		    				</div>
		    				{{#S3 callback="s3UploadFinished"}}
	    						<input id="photo-upload" class="btn" type="file">
							{{/S3}}
		    		</div>
				    <div class="form-field">
					    <label for="first-name">First Name</label>
					    <input id="first-name" class="form-control" type="text" placeholder="First Name" value="{{member.first_name}}">
					</div>
					<div class="form-field">
					    <label for="middle-name">Middle Name</label>
					    <input id="middle-name" class="form-control" type="text" placeholder="Middle Name" value="{{member.middle_name}}">
					</div>
					<div class="form-field">
					    <label for="last-name">Last Name</label>
					    <input id="last-name" class="form-control" type="text" placeholder="Last Name" value="{{member.last_name}}">
				    </div>
				    <div class="form-field">
					    <label for="date-of-birth">Date of Birth</label>
					    <input id="date-of-birth" class="form-control datepicker" size="16" type="text" placeholder="01-01-2013" value="{{member.date_of_birth_string}}">
				    </div>
				    <div class="form-field chk-alive-box">
				    	<label for="chk-alive">Alive?</label>
				    	{{#unless member.date_of_death}}
					    	<input id="chk-alive" size="16" type="checkbox" value="Alive?" checked="true">
					    {{else}}
					    	<input id="chk-alive" size="16" type="checkbox" value="Alive?" checked="false">
					    {{/unless}}
				    </div>
				    <div class="form-field date-of-death-field">
					    <label for="date-of-death">Date of Death</label>
					    <input id="date-of-death" class="form-control datepicker" size="16" type="text" placeholder="01-01-2013" value="{{member.date_of_death_string}}">
				    </div>
				    <div class='form-field spouse-field'>
	                    <label for='spouse'>Spouse</label>
	                    <span id='spouse'></span>
	                </div>
	                <div class="form-field married-date-field">
					    <label for="date-of-marriage">Date of Marriage</label>
					    <input id="date-of-marriage" class="form-control datepicker" size="16" type="text" placeholder="01-01-2013" value="{{member.date_of_marriage_string}}">
				    </div>
	                <div class='form-field spouse-status-field'>
	                    <label for='spouse-status'>Marriage Status</label>
	                    <input type="text" id="spouse-status" list="spouse-status-list" >
						<datalist id="spouse-status-list">
						   <option value="m">Married</option>
						   <option value="s">Separated</option>
						   <option value="d">Divorced</option>
						</datalist>
	                </div>
				    <div class="form-field submit-div">
				    	<button class="btn btn-primary add-family-submit">OK!</button>
				    </div>
				    <div class="form-field">
				    	<span class="link delete">Delete</span>
				    </div>
				</div>
		  </fieldset>
		  <button class="cancel-button btn btn-danger">X</button>
		</form>
	</section>
</template>

<template name="alert">
	<div id="main-alert" class="alert alert-success">

	</div>
</template>

<template name="addonDrillDown">
	<div class="addon-drill-down">
		<div>
			<button id="add-parent" class="btn btn-info">Add parent</button>
		</div>
		<div>
			<button id="add-sibling" class="btn btn-info">Add sibling</button>
		</div>
		<div>
			<button id="add-spouse" class="btn btn-info">Add spouse</button>
		</div>
		<div>
			<button id="add-child" class="btn btn-info">Add child</button>
		</div>
	</div>
</template>